.nav--main {
    background: linear-gradient(45deg, #1E88E5, #323436);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0 20px;
}
@media (max-width: 768px) {
  .nav--main {
      height: auto;
      padding: 0;
      flex-wrap: wrap;
      justify-content: center;
  }

}
.nav--main__logo {
    padding: 0 20px;
}

.nav--content__item {
    list-style: none;
    display: flex;
    padding: 0 20px;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.nav--sobre{
    font-size: 23px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.nav--sobre:hover{
    opacity: 0.5;
}

.nav--search {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav--search input {
  padding: 8px 12px;
  border: 2px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.nav--search input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4caf50;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.search-button svg {
  stroke: #fff;
}

.search-button:hover {
  background-color: #45a049;
  transform: scale(1.1);
}
