.nav--main {
    background: linear-gradient(45deg, #1E88E5, #323436);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0 20px;
}

.nav--main__logo {
    padding: 0 20px;
}

.nav--content__item {
    list-style: none;
    display: flex;
    padding: 0 20px;
    gap: 1em;
    justify-content: center;
    align-items: center;
}